<!-- <section>

    <div class="d-flex justify-content-between">
      <h4>List product</h4>
      <a routerLink="/product/create" class="btn btn-success">Create New product</a>
    </div>

    <br>
    
    <table class="table ">
      <tr>
        <th>Title</th>
        <th>description</th>
        <th>status</th>
        <th>image</th>
        <th>price</th>
        <th width="220px">Action</th>
      </tr>
      <tr *ngFor="let item  of Product">
        <td>{{ item.title }}</td>
        <td>{{ item.description }}</td>
        <td>{{ item.status }}</td>
        <td>{{ item.image }}</td>
        <td>{{ item.price }}</td>
        <td>
          <a href="#" [routerLink]="['/product/', 'edit', item.id  ]" class="btn btn-primary">Edit</a>
          <button type="button" (click)="deleteProduct(item.id)" class="btn btn-danger">Delete</button>
        </td>
      </tr>
    </table>
 </section> -->
<nz-page-header class="site-page-header" nzBackIcon nzTitle="Product" nzSubtitle="Product list">
  <nz-page-header-content>
    <button nz-button nzType="primary" nzShape="round" [routerLink]="['/product/create']">
      <i nz-icon nzType="plus"></i>
      Add Product
    </button>
  </nz-page-header-content>
</nz-page-header>

<nz-table #nzTable [nzData]="listOfDisplayData" nzTableLayout="fixed">
  <thead>
    <tr>
      <th nzCustomFilter>
        title
        <nz-filter-trigger [(nzVisible)]="visible" [nzActive]="searchValue.length > 0" [nzDropdownMenu]="menu">
          <i nz-icon nzType="search"></i>
        </nz-filter-trigger>
      </th>
      <th>description</th>
      <th>Category</th>
      <th>status</th>
      <th>price</th>
      <th width="220px">Action</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let data of nzTable.data">
      <td>{{ data.title }}</td>
      <td>{{ data.description }}</td>
      <td>{{ data.category?.name }}</td>
      <td>{{ data.status }}</td>
      <td>{{ data.price }}</td>
      <td>
        <nz-button-group>
          <!--   <button nz-button nzType="primary" [routerLink]="['/product/', 'edit', data.id  ]"><i nz-icon nzType="edit"></i></button>
          <button nz-button nzType="primary" nzDanger (click)="deleteProduct(data.id)"><i nz-icon nzType="delete"></i></button> -->
          <button nz-button nz-dropdown [nzDropdownMenu]="menu">
            Actions
            <i nz-icon nzType="down"></i>
          </button>
          <nz-dropdown-menu #menu="nzDropdownMenu">
            <ul nz-menu>
              <li nz-menu-item [routerLink]="['/product/', 'edit', data.id  ]">
                <i nz-icon nzType="edit" nzTheme="outline" class="icon-action"></i> <span>Edit</span>
              </li>
              <li nz-menu-item (click)="deleteProduct(data.id)" class="delete-btn">
                <i nz-icon nzType="delete" nzTheme="outline" class="icon-action"></i> <span>Delete</span>
              </li>
            </ul>
          </nz-dropdown-menu>
        </nz-button-group>
      </td>
    </tr>
  </tbody>
</nz-table>
<nz-dropdown-menu #menu="nzDropdownMenu">
  <div class="ant-table-filter-dropdown">
    <div class="search-box">
      <input type="text" nz-input placeholder="Search name" [(ngModel)]="searchValue" />
      <button nz-button nzSize="small" nzType="primary" (click)="search()" class="search-button">Search</button>
      <button nz-button nzSize="small" (click)="reset()">Reset</button>
    </div>
  </div>
</nz-dropdown-menu>