.search-box {
    padding: 8px;
  }

  .search-box input {
    width: 188px;
    margin-bottom: 8px;
    display: block;
  }

  .search-box button {
    width: 90px;
  }

  .search-button {
    margin-right: 8px;
  }
  .delete-btn{
    color: red;
  }
  .icon-action{
    padding-left: 5px;
  }
  .ant-page-header-content{
    text-align: end;
  }
  